Source: OSMTileListFromGeometry
Section: util
Priority: extra
Maintainer: Andrew Harvey <andrew.harvey4@gmail.com>
Build-Depends:
 ant
 , default-jdk
 , libjts-java
 , libpg-java
Standards-Version: 3.9.2
Vcs-Git: git://github.com/andrewharvey/OSMTileListFromGeometry.git
Vcs-Browser: https://github.com/andrewharvey/OSMTileListFromGeometry/

Package: OSMTileListFromGeometry
Architecture: all
Depends:
 default-jre
 , libjts-java
 , libpg-java
Suggests: osm2pgsql
Description: Generate a list of OSM tiles within a polygon
 Generates a list of OSM tiles within polygons retrieved from an osm2pgsql
 database.
 
 Also takes a list of OSM tiles and reduces them into meta-tile references.
